@media screen and (max-width: 1000px){

    .mainbox{
        row-gap: 15px;
    }

    .box{
        flex-direction: column;
        row-gap: 15px;
    }

    .boxes{
        width: 100%;
        column-gap: 95px;
        row-gap: 55px;
    }

    .boxH{
        width: 100%;
        height: 300px;
    }

}