.box1, .box3 {
    margin: 0 auto;
    width: 800px;
    height: 300px;
    background: #9cce7e;
}

.box3{
    background: #456c2b
}

.box2{
    margin: 0 auto;
    width: 600px;
    height: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

    position: absolute;
    left: 340px;
    bottom: 335px;
}

.box{
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background: beige;
}

