body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.namediv{
    border: 1px solid silver;
    margin: 10px;

    width: 45%;
    height: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

